body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  height: 1px;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

a{
  color: rgb(72, 125, 67);
}
a:visited {
  color: rgb(30, 60, 30);
}
a:hover {
  color: #4CBF50;
}

.footer{
  height: 3%;
  width: 88%;
  float:left;
  text-align: center;
  color: #AAA;
  position: relative;
  top: 3%;
}

.ruler {
  height: 1px;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

ul{
  list-style:none;
  padding-left:0;
  margin-left:30px;
}

li p{
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 10px;
}
li {
    display: block;
}

.arrow_list{
  margin-left: -8px;
}
.arrow_list li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-top: 1px;
    margin-right: 2px;
    margin-left: 4px;
}

.margem{
  margin-left:30px;
}

.centro{
  text-align: center;
}


.download:hover{
    text-decoration: none;
}

.download:after{
  display: inline;
  content: "\e026";
  font-family: 'Glyphicons Halflings';
  position:relative;
  top: 4px;
  left: 4px;
}
.codeList{
  font-size: 16px;
}
