body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  height: 1px;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

a{
  color: rgb(72, 125, 67);
}
a:visited {
  color: rgb(30, 60, 30);
}
a:hover {
  color: #4CBF50;
}

.footer{
  height: 3%;
  width: 88%;
  float:left;
  text-align: center;
  color: #AAA;
  position: relative;
  top: 3%;
}

.ruler {
  height: 1px;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

ul{
  list-style:none;
  padding-left:0;
  margin-left:30px;
}

li p{
  margin-left:30px;
  margin-right: 30px;
}

.margem{
  margin-left:30px;
}

.centro{
  text-align: center;
}
