body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
}

hr {
  height: 1px;
  padding-bottom: 1em;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

nav{
  width: 100%;
  color: #FFF;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    width: 100%;
}

nav ul li {
    float: left;
    width: 12.1%;
}

nav ul li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 3px solid #555;
}

nav ul li a.visited{
  color: #FFF;
}

nav ul li:last-child a {
    border-right: none;
}

nav ul li a:hover {
    background-color: #4CBF50;
    border-right: 3px solid #4CBF50;
}

.nav_active {
    background-color: #555555;
}

li{
  list-style-type: none;
}

p{
  margin-left: 20px;
  margin-top: 0px;
}

a{
  color: #222;
}
a:visited {
  color: #000;
}
a:hover {
  color: #4CBF50;
}

.leftColumn{
  width: 12%;
  height: 100%;
  float: left;
  background-color: #222;
}

.mainColumn{
  margin-left: 1%;
  height: 97%;
  width: 87%;
  float: left;
}

.footer{
  height: 3%;
  width: 88%;
  float:left;
  text-align: center;
  color: #AAA;
  position: relative;
  top: 3%;
}

.ruler {
  height: 1px;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

.content{
  position: absolute;
  height: 75%;
  width: 100%;
}
